.nav-wrapper{
  display:flex;
  justify-content: space-between;
  padding: 30px;
}
.left{
  display: flex;
}
.nav-wrapper > .left > div{
  margin-right: 20px;
  font-size: 0.9em;
}
.nav-wrapper > .right > div {
  margin-left: 20px;
  font-size: 0.9em;
}